// TODO : refactor this reused code from : CreateJobListingContent.scss

.modal-content {
    // background-color: red;
    display: flex;
    flex-direction: column;

    &__input-row {
        // background-color: green;
        margin-top: .5rem;
        border-bottom: 1px solid gray;
        padding-bottom: 1rem;

        input {
            height: .5rem;
            padding: .5rem;
            width: 10rem;
        }

        textarea {
            width: 99%;
            max-width: 99%;
            height: 30vh;
        }

    }

    &__button {
        margin: 1rem auto auto auto;
        padding: 1rem;
        background: none;
        border: 1px solid gray;
        border-radius: .25rem;

        &:hover {
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            background-color: rgb(207, 212, 252);
        }
    }

}