.profile-card {

  background-color: hsl(224, 19%, 97%); // TODO : make this a var
  width: 30rem;
  height: 20rem;
  border: 1px solid gray;
  margin: auto auto 0 auto;
  border-radius: .25rem;
  overflow-y: scroll;

  &__entry {
    display: flex;
    justify-content: center;
    margin:1rem;
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid gray;
  }

  &__entry:hover {
    background-color: hsl(224, 82%, 56%);

    p {
      color: white;
    }

  }

}