aside {

    // background-color: purple;
    border: 1px solid gray;

    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: 1rem auto auto auto;
    width: 40rem;

    .listing-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid black;
        // background-color: blue;

        h2 {
            margin:0 0 0;
            // background-color: fuchsia;
        }

        p {
            // background-color: orange;
        }

    }

    .notes-section {

        &__header {

            display: flex;
            margin-bottom: 1rem;
            // background-color: blue;

            h3 {
                margin:auto;
                // background-color: blue;
            }
        }

    }

}