aside {

    // background-color: purple;
    border: 1px solid gray;

    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: 1rem auto auto auto;
    width: 40rem;

    .listing-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid black;
        // background-color: blue;

        h2 {
            margin: 0 0 0;
            // background-color: fuchsia;
        }

        p {
            // background-color: orange;
        }

    }

    .notes-section {

        &__header {

            display: flex;
            margin-bottom: 1rem;
            // background-color: blue;

            h3 {
                margin: auto 1rem auto auto;
                // background-color: blue;
            }

            button {
                margin: auto auto auto 0;
                background: none;
                border: 1px solid gray;
                border-radius: .25rem;

                &:hover {
                    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
                    background-color: rgb(207, 212, 252);
                }
            }
        }

        &__content {

            // background-color: red;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid black;
            padding-bottom: 1rem;

            textarea {
                margin: 1rem auto auto auto;
                width: 35rem;
                max-width: 38rem;
                max-height: 10rem;
                height: 15rem;
                // background-color: blue;
            }

        }

    }

    .button-row {

        display: flex;

        .button-row__button {
            margin: 1rem auto auto auto;
            padding: 1rem;
            background: none;
            border: 1px solid gray;
            border-radius: .25rem;

            &:hover {
                box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
                background-color: rgb(207, 212, 252);
            }
        }
    }

}