.listings-section {


    display: flex;
    flex-direction: column;
    // background-color: red;
    padding: .5rem;
    margin: 1rem auto auto auto;
    width: 40rem;

    h2 {
        margin:auto;
        padding: .75rem;
        // background-color: blue;
        width: max-content;
    }
    
}