.container {
    display: flex;
    width: max-content;
    flex-direction: row;
    // background-color: red;
}


.listings-section {

    display: flex;
    flex-direction: column;
    // background-color: red;
    padding: .5rem;
    margin: 1rem auto auto auto;
    width: 40rem;

    h2 {
        margin:auto;
        padding: .75rem;
        // background-color: blue;
        width: max-content;
    }

    &__drawer {
        // background-color: red;
    }

    &__button {
        padding: 1rem;
        background: none;
        border: 1px solid gray;
        border-radius: .25rem;

        &:hover {
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            background-color: rgb(207, 212, 252);
        }
    }
    
}