.selector-row {

    display: flex;
    flex-direction: row;
    // background-color: red;

    &__item {

        margin: auto .25rem auto .25rem;
        padding: 1rem;
        background: none;
        border: 1px solid gray;
        border-radius: .25rem;

        &:hover {
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            background-color: rgb(189, 189, 189);
        }

    }

    .selected {
        background-color: rgb(51, 100, 235);
        color: white;
    }

}